.header{
        background-color: grey;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
      }
      .container {
        display: flex;
        justify-content: center;
        gap:20px;
        padding:0 20px;
      }
      
      .latest-news-section{
        width:30%;
        padding:20px;
      }
        
      .main-article{
        width:60%;
        padding:20px;
      }
      
      .pictorial-news-section{
        width:60%;
        padding:20px;
      }
      
      .pictorial-news-section img{
        width:100%;
        
      }